*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: rgb(2,0,36);
    background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 34%, rgba(0,212,255,1) 100%);
    color: #fff;
}
h1{
    font-family: 'Brush Script MT', cursive;
    font-size: 10rem;
}
p{
    font-family: 'Courier New', monospace;
    font-size: 3rem;
}
@media (max-width:480px) {
    h1{
        font-size: 2rem;
    }
    p{
        font-size: 1.2rem;
    }
}